.content-step-2 {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.content-step-2 .img-wrapper {
  display: flex;
  flex-direction: column;
}

.content-step-2 .img-wrapper .logo {
  width: 15%;
  margin: 10px auto;
}

.content-step-2 .img-wrapper .example {
  width: 75%;
  margin: 10px auto;
}

@media (min-width: 600px) {
  .content-step-2 .img-wrapper {
    flex-direction: row;
  }

  .content-step-2 .img-wrapper .logo {
    margin: auto 10px;
  }

  .content-step-2 .img-wrapper .example {
    margin: auto 10px;
  }
}
