.menu {
  grid-area: menu;
}

.menu ul {
  padding: 0;
  text-align: center;
}

.menu li {
  display: inline;
  padding: 0 1em;
  border-right: 1px solid;
}

.menu li h2 {
  display: inline;
}

.menu li:last-child {
  border-right: none;
}
