.slider {
  grid-area: slider;
  width: 100%;
}

.slider .slide {
  opacity: 1;
  transition: opacity 500ms;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.slider .fadeOut {
  opacity: 0;
}
